@custom-variant dark (&:is(.dark *));

:root {
    /* ===== NEUTRAL COLORS ===== */
    --ui-color-neutral-00:          #FFFFFF;
    --ui-color-neutral-05:          #F5F5F5;
    --ui-color-neutral-10:          #B9B9B9;
    --ui-color-neutral-20:          #A1A1A1;
    --ui-color-neutral-30:          #7E7E7E;
    --ui-color-neutral-40:          #5E5E5E;
    --ui-color-neutral-50:          #363636;
    --ui-color-neutral-60:          #2B2B2B;
    --ui-color-neutral-70:          #262626;
    --ui-color-neutral-80:          #1E1E1E;
    --ui-color-neutral-90:          #0F0F0F;
    --ui-color-neutral-95:          #0C0C0C;
    --ui-color-neutral-100:         #000000;


    /* ==== UI SPACING ==== */
    --ui-inset-xs:                  4px;
    --ui-inset-sm:                  8px;
    --ui-inset-md:                  16px;
    --ui-inset-lg:                  24px;
    --ui-inset-xl:                  32px;


    /** ==== TYPOGRAPHY ===== */
    --ui-font-body:                 Inter, Roboto, "Helvetica Neue", Arial, sans-serif;

    --ui-font-size-xs:              14px;
    --ui-font-size-sm:              16px;
    --ui-font-size-md:              18px;
    --ui-font-size-lg:              20px;
    --ui-font-size-xl:              24px;
    --ui-font-size-xxl:             36px;


    /* ==== TRANSITIONS ==== */
    --ui-transition-fast:           150ms cubic-bezier(0.4, 0, 0.2, 1);
    --ui-transition-base:           200ms cubic-bezier(0.4, 0, 0.2, 1);
    --ui-transition-slow:           300ms cubic-bezier(0.4, 0, 0.2, 1);
    --ui-transition-slower:         500ms cubic-bezier(0.4, 0, 0.2, 1);
}


html.dark {

}