@import "fonts";
@import "theme";
@import "flex";


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--ui-font-body);
    font-size: var(--ui-font-size-md);
    line-height: 1.3;
    background-color: var(--ui-color-neutral-90);

    color-scheme: light dark;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}